<div content-for="title">
  <span>How To Use</span>
</div>

<div class="scrollable">  
  <div class="scrollable-content">
    <div class="list-group">

      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-lightbulb-o feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Switches</h3>
            This section will allow you to turn a device on or off. To turn
            a device on or off, just hit the switch next to it. Devices that
            are under timer control are disabled, and you can go to the timers
            section to set when those devices should turn on or off.
        </div>
      </div>

      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-clock-o feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Timers</h3>
            This section will allow you to set timers to automaticall turn on
            or turn off your devices. This is useful for example when you want
            your garden lamp to turn on at dusk and turn off at dawn
            automatically.
        </div>
      </div>

      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-gear feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Devices</h3>
            Thi section will allow you to assign your Raspberry Pi's GPIO pins
            to devices, give them names, and setup their default settings. You
            don't have to use all 16 pins, just the ones you need.
        </div>
      </div>

    </div>
  </div>
</div>