<div content-for="title">
  <span>Switches</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
  	<div class="list-group">

      <div class="list-group-item media" data-ng-repeat="light in config.lights">
        <div class="pull-right">
          <div data-ng-if="!light.auto">
            <i ng-class="{'graycolor': light.state == 'off'}" class="fa fa-lightbulb-o feature-icon text-primary"></i>
          </div>
          <div data-ng-if="light.auto">
            <i ng-class="{'graycolor': light.state == 'off'}" class="fa fa-clock-o feature-icon text-primary"></i>
          </div>
        </div>
        <div class="media-body">
          <h3 class="media-heading">{{ light.name }}</h3>
          <p data-ng-if="!light.auto">Manually controlled.</p>
          <p data-ng-if="light.auto">
            Controlled by timer. The device will be on at the following times:
          </p>
          <ul data-ng-if="light.auto">
            <li data-ng-repeat="timer in light.timers">
              {{ timer.start }} - {{ timer.end }}
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>