<div content-for="title">
  <span>Switches</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
  	<div class="list-group">
      <div class="list-group-item media" data-ng-repeat="device in devices">
        <div class="pull-right" ng-click="toggleDevice({{ $index }})">
          <div data-ng-if="!device.auto">
            <i ng-class="{'graycolor': device.state == 'off'}" class="fa fa-lightbulb-o feature-icon text-primary"></i>
          </div>
          <div data-ng-if="device.auto">
            <i ng-class="{'graycolor': device.state == 'off'}" class="fa fa-clock-o feature-icon text-primary"></i>
          </div>
        </div>
        <div class="media-body">
          <h3 class="media-heading">{{ device.name }}</h3>
          <p data-ng-if="!device.auto">Manually controlled.</p>
          <p data-ng-if="device.auto">
            Controlled by timer. The device will be on at the following times:
          </p>
          <ul data-ng-if="device.auto">
            <li data-ng-repeat="timer in device.timers">
              {{ timer.start }} - {{ timer.end }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div overlay="ovManualOverride">
  <h4 class="overlay-title">Confirm Manual Override</h4>
  <p>
    Changing the state of this device<br />
    will set it to manual control.<br /><br />
    Proceed?
  </p>
  <p toggle="off" bubble target="ovManualOverride">
    <span class="btn btn-primary" ng-click="confirmOverride()">Yes</span>
    <span class="btn btn-default" ng-click="cancelOverride()">No</span>
  </p>  
</div>

<div overlay="ovErrorMessage">
  <h4 class="overlay-title">Error!</h4>
  <p>
    Oops! Something's not right.<br /><br />
    {{ errorMessage }}
  </p>
  <p toggle="off" bubble target="ovErrorMessage">
    <span class="btn btn-primary">OK</span>
  </p>  
</div>